!!! 5
%html
	%head
		%title Frugal Rouleur - Searching for '#{@search}'
		!= haml(:"_head", :layout => false)
		%script{:type => "text/javascript", :charset => "utf-8", :src => "/scripts/population.js"}
	%body{:class => "page results-page"}
		#header
			%h1
				%a{:href => "/"} Frugal Rouleur
			%form{:method => "post", :action => "/search"}
				%input{:type => "text", :name => "term", :value => @search}
				%input{:type => "submit", :value => "Search"}
		#content
			%h2
				Searching for '<em>#{@search}</em>'
			#results
				.result{:class => "loading chainreaction"}
					%h3 
						%a{:href => "http://www.chainreactioncycles.com/Mobile/MobileSearchResults.aspx?Search=#{@searchconcat}"} Chain Reaction
				.result{:class => "loading wiggle"}
					%h3
						%a{:href => "http://www.wiggle.co.uk/?s=#{@searchconcat}"} Wiggle
				.result{:class => "loading probikekit"}
					%h3
						%a{:href => "http://www.probikekit.com/au/factfinder/search/result/?q=#{@searchconcat}"} ProBikeKit
				.result{:class => "loading ribble"}
					%h3
						%a{:href => "http://www.ribblecycles.co.uk/product/t/#{@searchconcat}"} Ribble Cycles
						%a{:href => "/about#ribble", :class => "info"} *
		#explanation
			:markdown
				*Frugal Roleur* is an Australian tool for searching and comparing products across online cycling merchandise retailers 
				[Chain Reaction Cycles](http://chainreactioncycles.com), [Wiggle](http://wiggle.co.uk), [ProBikeKit](http://probikekit.com) 
				and [Ribble Cycles](http://ribblecycles.co.uk). Learn more [about the site](/about).